{% extends 'layout/newsLayout.html' %}

{% block content %}
    <div class="container">
        <h1>{% if locale['language'] == "English" %}News - About TVBL{% else %}新闻 - 关于TVBL{% endif %}</h1>
        <hr/>
    </div>
    <div style="margin-bottom: 30px" class="container">
        {% for i in range(0,news_titles_count) %}
            <div>
            <div class="row">
                <div class="col-lg-3">
                    <img class="img-fluid" alt="" src="{{ news_titles[i]['image'] }}">
                </div>
                <div style="min-height: 100px;position: relative" class="col-lg-9">
                    <p>{% if locale['language']=="English" %}{{ news_titles[i]['title'] }}{% else %}{{ news_titles[i]['title_cn'] }}{% endif %}</p>
                    <em style="font-weight: 400;color: #999;position: absolute;bottom: 0px">
                        {{ news_titles[i]['created_at'] }}
                    </em>
                </div>
            </div>
            <hr style="height: 1px">
        </div>
        {% endfor %}
    </div>
{% endblock %}