

<header style="background-image: url({{ locale['header']['image'] }})" class="masthead">
    <div class="container">
        <div class="intro-text">
            <div style="color: #ffffff;" class="intro-lead-in">
                                {% if locale['header']['title'] == "" %}
                                    <br/>
                                {% else %}
                                    {{ locale['header']['title'] }}
                                {% endif %}
                            </div>
                            <div style="color: #ffffff;" class="intro-heading text-uppercase">
                                {% if locale['header']['content'] == "" %}
                                    <br/><br/>
                                {% else %}
                                    {{ locale['header']['content'] }}
                                {% endif %}
                            </div>
                        {% if locale['header']['button'] == "" %}
                            <a></a>
                        {% else %}
                            <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="#services">{{locale['header']['button'] }}</a>
                        {% endif %}

                        </div>
                    </div>
</header>