{% extends 'layout/productLayout.html' %}
{% block title %}Product - Tiles Categories{% endblock %}

{% block content %}
    <!-- SECTION -->
		<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<!-- ASIDE -->
					<div id="aside" class="col-md-3">
						<!-- aside Widget -->
						<div class="aside">
							<h3 class="aside-title">Categories</h3>
							<div class="checkbox-filter">
                                {% for i in range(0,tile_categories.count()) %}
                                    <div class="input-checkbox">
									<input type="checkbox" id="category-{{ i }}">
									<label for="category-{{ i }}">
										<span></span>
										{{ tile_categories[i].name }}
									</label>
								</div>
                                {% endfor %}

							</div>
						</div>
						<!-- /aside Widget -->

                                          					<!-- aside Widget -->
						<div class="aside">
							<h3 class="aside-title">Price</h3>
							<div class="price-filter">
								<div class="input-number price-min">
									<input id="lowest-bound" value="{{ lowest_bound }}" type="number">
									<span class="qty-up">+</span>
									<span class="qty-down">-</span>
								</div>
								<span>-</span>
								<div class="input-number price-max">
									<input id="highest-bound"  value="{{ highest_bound }}" type="number">
									<span class="qty-up">+</span>
									<span class="qty-down">-</span>
								</div>
							</div>
						</div>

                        <div class="aside">
                            <button onclick="tileCategorySearch()" class="btn btn-primary">Search</button>
                            <button class="btn btn-primary ml-2">Reset</button>
                        </div>



					</div>
					<!-- /ASIDE -->

					<!-- STORE -->
					<div id="store" class="col-md-9">
						<!-- store top filter -->
						<div class="store-filter clearfix">
							<div class="store-sort">
								<label>
									Sort By:
									<select class="input-select">
										<option value="0">Popular</option>
                                        <option value="1">Highest price</option>
                                        <option value="1">Lowest price</option>
									</select>
								</label>

							</div>
						</div>
						<!-- /store top filter -->


						<!-- store products -->
						<div class="row">

                            {% for product in products_to_show %}
                                <div class="col-md-4 col-xs-6">
                                    <div class="product">
                                        <div class="product-img">
                                            <img src="{{ product.image }}"alt="">
                                            {% if product.is_new %}
                                                <div class="product-label">
											        <span class="new">NEW</span>
                                                </div>
                                            {% endif %}
										</div>
                                        <div class="product-body">
                                            <h3 class="product-name"><a href="#">{{ product.code }}</a></h3>
                                            <h4 class="product-price">
                                                ${{ product.price }}
                                                {% if product.previous_price %}
                                                    <del class="product-old-price">${{ product.previous_price }}</del>
                                                {% endif %}
                                            </h4>
                                            <div class="product-rating">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                            </div>
                                        </div>
                                        <div class="add-to-cart">
                                            <button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}

							<!-- /product -->
						</div>
						<!-- /store products -->

						<!-- store bottom filter -->
						<div class="store-filter clearfix">
							<span class="store-qty">Showing {{ product_to_show_len }} of {{ total_product_num }} products</span>
							<ul class="store-pagination">
                                {% for i in range(1,total_page_num) %}
                                {% if i == current_page %}
                                    <li class="active">{{ i }}</li>
                                {% else %}
                                    <li><a href="javascript:void(0)" onclick="paginationHandler({{ i }})">{{ i }}</a></li>
                                {% endif %}
                                {% endfor %}
							</ul>
						</div>
						<!-- /store bottom filter -->
					</div>
					<!-- /STORE -->
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /SECTION -->
{% endblock %}