{% extends 'layout/homeLayout.html' %}

{% block title %}
    Thriving Building
{% endblock %}

{% block content %}
    <!-- Services -->
    {% include 'pages/Home/service.html' %}
    <!-- Portfolio Grid -->
    {% include 'pages/Home/portfolio.html' %}
    <!-- About -->
    {% include 'pages/Home/about.html' %}
    <!-- Team -->
    {% include 'pages/Home/team.html' %}
    <!-- Contact -->
    {% include 'pages/Home/contact.html' %}
    <!-- Where -->
    {% include 'pages/Home/where.html' %}

    <script src="{{ url_for('static',filename='home/vendor/jquery/jquery.min.js') }}"></script>
    <script src="{{ url_for('static',filename='home/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static',filename='home/vendor/jquery-easing/jquery.easing.min.js') }}"></script>
    <script src="{{ url_for('static',filename='home/js/jqBootstrapValidation.js') }}"></script>
    <script src="{{ url_for('static',filename='home/js/contact_me.js') }}"></script>
    <script src="{{ url_for('static',filename='home/js/home.js') }}"></script>
    <script src="{{ url_for('static',filename='home/js/index.js') }}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDbwE6T5c_i_WHiLAF7gzdAD_FyFMRtgtI&callback=initMap"
    async defer></script>
{% endblock %}