<!-- Portfolio Grid -->
  <section class="bg-light page-section" id="portfolio">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">{{ locale['product']['title'] }}</h2>
          <h3 class="section-subheading text-muted">{{ locale['product']['subtitle'] }}</h3>
        </div>
      </div>
      <div class="row">
          {% for i in range(0,product_categories_count) %}
              <div class="col-md-4 col-sm-6 portfolio-item">
                  <a class="portfolio-link" data-toggle="modal" href="#portfolioModal{{ i }}">
                      <div class="portfolio-hover">
                          <div class="portfolio-hover-content">
                              <i class="fas fa-plus fa-3x"></i>
                          </div>
                      </div>
                      <img class="img-fluid" src="{{ product_categories[i].image }}" alt="">
                  </a>
                  <div class="portfolio-caption">
                      <h4>
                          {% if locale['language'] == "English" %}
                              {{ product_categories[i]['name'] }}
                          {% else %}
                              {{ product_categories[i]['name_cn'] }}
                          {% endif %}
                      </h4>
                      <p class="text-muted">
                          {% if locale['language'] == "English" %}
                              {{ product_categories[i]['description'] }}
                          {% else %}
                              {{ product_categories[i]['description_cn'] }}
                          {% endif %}
                      </p>
                  </div>
              </div>

          {% endfor %}

      </div>
    </div>
  </section>


{% for i in range(0,product_categories_count) %}
    <div class="portfolio-modal modal fade" id="portfolioModal{{ i }}" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="close-modal" data-dismiss="modal">
                          <div class="lr">
                            <div class="rl"></div>
                          </div>
                        </div>
                        <div class="container">
                          <div class="row">
                            <div class="col-lg-12 mx-auto">
                              <div class="modal-body">
                                <!-- Project Details Go Here -->
                                <h2 class="text-uppercase">
                                    {% if locale['language'] == "English" %}
                                        {{ product_categories[i]['name'] }}
                                    {% else %}
                                        {{ product_categories[i]['name_cn'] }}
                                    {% endif %}
                                </h2>
                                <p class="item-intro text-muted">
                                    {% if locale['language'] == "English" %}
                                        {{ product_categories[i]['description'] }}
                                    {% else %}
                                        {{ product_categories[i]['description_cn'] }}
                                    {% endif %}
                                </p>
                                <div class="row">
                                    <figure class="col-md-4 col-sm-6 portfolio-item">
                                        <a href="https://mdbootstrap.com/img/Photos/Horizontal/Nature/12-col/img%20(117).jpg" data-size="1600x1067">
                                            <img style="height: 224px;width: 224px" alt="picture" src="https://www.newpearl.co.nz/wp-content/uploads/2019/11/PY6647.jpg"
                                                 class="img-fluid" alt="picture" />
                                        </a>
                                        <p style="color:#000;">PG1000000</p>
                                    </figure>
                                    <figure class="col-md-4 col-sm-6 portfolio-item">
                                        <a href="https://mdbootstrap.com/img/Photos/Horizontal/Nature/12-col/img%20(117).jpg" data-size="1600x1067">
                                            <img style="height: 224px;width: 224px" alt="picture" src="https://www.newpearl.co.nz/wp-content/uploads/2019/07/IMG_4010.jpg"
                                                 class="img-fluid" alt="picture" />
                                        </a>
                                        <p style="color:#000;">PG1000000</p>
                                    </figure>
                                    <figure class="col-md-4 col-sm-6 portfolio-item">
                                        <a href="https://mdbootstrap.com/img/Photos/Horizontal/Nature/12-col/img%20(117).jpg" data-size="1600x1067">
                                            <img style="height: 224px;width: 224px" alt="picture" src="https://www.newpearl.co.nz/wp-content/uploads/2019/07/IMG_4010.jpg"
                                                 class="img-fluid" alt="picture" />
                                        </a>
                                        <p style="color:#000;">PG1000000</p>
                                    </figure>
                                    <figure class="col-md-4 col-sm-6 portfolio-item">
                                        <a href="https://mdbootstrap.com/img/Photos/Horizontal/Nature/12-col/img%20(117).jpg" data-size="1600x1067">
                                            <img style="height: 224px;width: 224px" alt="picture" src="https://www.newpearl.co.nz/wp-content/uploads/2019/07/IMG_4010.jpg"
                                                 class="img-fluid" alt="picture" />
                                        </a>
                                        <p style="color:#000;">PG1000000</p>
                                    </figure>
                                </div>

                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
               </div>



{% endfor %}
