<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'common/product/head.html' %}
    <title>{% block title %}{% endblock %}</title>
</head>

<body>
    {% include 'common/product/header.html' %}
    {% include 'common/product/navbar.html' %}
    {% block content %}{% endblock %}
    {% include 'common/product/newsLetter.html' %}
    {% include 'common/product/footer.html' %}
</body>

<script src="{{ url_for('static',filename='product/js/jquery.min.js') }}"></script>
<script src="{{ url_for('static',filename='product/js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static',filename='product/js/slick.min.js') }}"></script>
<script src="{{ url_for('static',filename='product/js/nouislider.min.js') }}"></script>
<script src="{{ url_for('static',filename='product/js/jquery.zoom.min.js') }}"></script>
<script src="{{ url_for('static',filename='product/js/main.js') }}"></script>
<script src="{{ url_for('static',filename='product/js/index.js') }}"></script>
</html>
